<div class="container-fluid">
  </br>
  <div class="page-header">
    <h4>
      Jornada 7
      <small>
        Liga Méxicana
      </small>
    </h4>
  </div>
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <div class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
          <%= link_to match_path(@match.id) do %>
            <div class="row">
              <div class="col-md-2">
                <%= image_tag "logos/#{@match.home_team.logo}" ,class: "team-media-image" %>
              </div>
              <div class="col-md-1">
                <h2><strong>VS</strong></h2>
              </div>
              <div class="col-md-2">
                <%= image_tag "logos/#{@match.away_team.logo}" ,class: "team-media-image" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <div class="row">
        <div class="col-sm-6">
          <a class="twitter-timeline" data-width="300" data-height="500" data-theme="light" data-link-color="#2B7BB9"
            href="https://twitter.com/<%= @match.home_team.twitter %>"></a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-sm-6">
          <a class="twitter-timeline" data-width="300" data-height="500" data-theme="light" data-link-color="#2B7BB9"
            href="https://twitter.com/<%= @match.away_team.twitter %>"></a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
</div>
