<div class="container-fluid">
  </br>
  <div class="page-header">
    <h4>
      Jornada 7
      <small>
        Liga Méxicana
      </small>
    </h4>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row" style="margin-left: 10px; margin-bottom: 20px;">
        <div class="wrapper col-md-6">
          <%= image_tag "logos/#{@match.home_team.logo}"  %>
        </div>
        <div class="col-md-1">
          <h3 style="text-align: center;">VS</h3>
        </div>
        <div class="wrapper col-md-6">
          <%= image_tag "logos/#{@match.away_team.logo}"  %>
        </div>
        <div class="col-md-5">
          <h5>Dia: <strong><%= l(@match.date, format: "%d-%B-%Y") %></strong></h5>
          <h5>Hora: <strong><%= @match.date.strftime("%H:%M") %></strong></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3">
          <a class="twitter-timeline" data-width="300" data-height="500" data-theme="light" data-link-color="#2B7BB9"
            href="https://twitter.com/<%= @match.home_team.twitter %>"></a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div>

        </div>
        <div class="col-sm-3">
          <a class="twitter-timeline" data-width="300" data-height="500" data-theme="light" data-link-color="#2B7BB9"
            href="https://twitter.com/<%= @match.away_team.twitter %>"></a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
</div>
